<div class="row animated" #Main>
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Car Maintenances Table</span>
                <ngb-pagination [collectionSize]="pagination?.total" [page]="pagination?.current_page" [maxSize]="5"
                    (pageChange)="loadPage($event)" [pageSize]="pagination?.per_page">
                </ngb-pagination>
                <div class="d-flex justify-content-end flex-wrap">
                    <button class="btn btn-info m-1" (click)="filterModal = true;">
                        <small><b><i class="fa-solid fa-filter mr-2"></i>Filter</b></small>
                    </button>
                    <button class="btn btn-info m-1" style="padding: 6px 12px;" (click)="displaySettings();">
                        <small><b><i class="fa-solid fa-gear mr-2"></i>Settings</b></small>
                    </button>
                    <button class="btn btn-info m-1" style="padding: 6px 12px;" (click)="displayBrands();">
                        <small><b>Brands</b></small>
                    </button>
                    <button class="btn btn-primary m-1" style="padding: 6px 12px;" (click)="displayAddModal();">
                        <small><b>Add Maintenance Center</b></small>
                    </button>
                </div>
            </div>
            <div class="card-body ">
                <table class="table">
                    <thead class="text-secondary text-center">
                        <th>#</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Action</th>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let maintenance of maintenances; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{maintenance.name}}</td>
                            <td>{{maintenance.mobile}}</td>
                            <td>
                                <button class="btn btn-primary m-1" (click)="getById(maintenance.id)">
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                                <button class="btn btn-info m-1" (click)="displayBrandModal(maintenance)">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                <button class="btn btn-info m-1" (click)="displayUpdateModal(maintenance)"><i
                                        class="fa-regular fa-pen-to-square"></i></button>
                                <button class="btn btn-danger m-1" (click)="deleteConfirm(maintenance.id)"><i
                                        class="fa-regular fa-trash-can"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination [collectionSize]="pagination?.total" [page]="pagination?.current_page" [maxSize]="8"
                    (pageChange)="loadPage($event)" [pageSize]="pagination?.per_page">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>

<div class="row animated d-none" #Show>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Car Maintenances Info</h4>
                            <button class="btn btn-dark" (click)="backDetailsBtn()">Back</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive overflow-auto">
                                <table class="table">
                                    <thead class="text-muted">
                                        <th>Title</th>
                                        <th>Description</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Second Mobile</td>
                                            <td>{{selectedRow?.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>{{selectedRow?.address}}</td>
                                        </tr>
                                        <tr>
                                            <td>Brands</td>
                                            <td>
                                                <div *ngFor="let brand of selectedRow?.brands; let i = index">
                                                    {{brand?.car?.car_name}}
                                                    <i class="fa-regular fa-trash-can ml-2 text-danger pointer"
                                                        (click)="deleteBrand(brand?.car?.id,selectedRow?.id)"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated d-none" #Show2>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Brands Info</h4>
                            <button class="btn btn-dark" (click)="backDetailsBtn2()">Back</button>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead class="text-secondary text-center">
                                    <th>#</th>
                                    <th>Brand Name</th>
                                    <th>Action</th>
                                </thead>
                                <tbody class="text-center">
                                    <tr *ngFor="let car of cars; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{car.car_name}}</td>
                                        <td>
                                            <button class="btn btn-primary m-1"
                                                (click)="getCarMaintenance(car.id);displayBrandCarMaintenance()">
                                                <i class="fa-regular fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated d-none" #Show3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Maintenance Settings</h4>
                            <div class="d-flex justify-content-end flex-wrap">
                                <button class="btn btn-info m-1" style="padding: 6px 12px;"
                                    (click)="createKilometerModal = true">
                                    <small><b>Add Kilometer</b></small>
                                </button>
                                <button class="btn btn-info m-1" style="padding: 6px 12px;"
                                    (click)="createTypeModal = true">
                                    <small><b>Add Type</b></small>
                                </button>
                                <button class="btn btn-dark m-1" style="padding: 6px 12px;"
                                    (click)="backDetailsBtn3();">
                                    <small><b>Back</b></small>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mx-0">
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead class="text-secondary text-center">
                                            <th>#</th>
                                            <th>Kilometer</th>
                                            <th>Action</th>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr *ngFor="let kilometer of maintenanceKilometer; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{kilometer.kilometer}}</td>
                                                <td>
                                                    <button class="btn btn-danger m-1"
                                                        (click)="deleteMaintenanceKilometer(kilometer.id)">
                                                        <i class="fa-regular fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead class="text-secondary text-center">
                                            <th>#</th>
                                            <th>Type</th>
                                            <th>Action</th>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr *ngFor="let type of maintenanceType; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{type.type_ar}}</td>
                                                <td>
                                                    <button class="btn btn-danger m-1"
                                                        (click)="deleteMaintenanceType(type.id)">
                                                        <i class="fa-regular fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row animated d-none" #Show4>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Car Maintenance Info</h4>
                            <div class="d-flex flex-wrap justify-content-end">
                                <button class="btn btn-primary m-1"
                                    (click)="createCarMaintenanceModal = true">Add</button>
                                <button class="btn btn-dark m-1" (click)="backDetailsBtn4()">Back</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead class="text-secondary text-center">
                                    <th>#</th>
                                    <th>Car</th>
                                    <th>Type</th>
                                    <th>Kilometer</th>
                                    <th>Action</th>
                                </thead>
                                <tbody class="text-center">
                                    <tr *ngFor="let car of CarMaintenance; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{car?.car?.car_name}}</td>
                                        <td>{{car?.type?.type_ar}}</td>
                                        <td>{{car?.kilometer?.kilometer}}</td>
                                        <td>
                                            <button class="btn btn-info m-1"
                                                (click)="displayUpdateCarMaintenanceModal(car)">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                            <button class="btn btn-danger m-1" (click)="deleteCarMaintenance(car.id)">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row animated d-none" #Show4>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Car Maintenance Info</h4>
                            <div class="d-flex flex-wrap justify-content-end">
                                <!-- <button class="btn btn-primary m-1"
                                    (click)="createCarMaintenanceModal = true">Add</button> -->
                                <button class="btn btn-dark m-1" (click)="backDetailsBtn4()">Back</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead class="text-secondary text-center">
                                    <th *ngFor="let type of maintenanceType">
                                        {{type.type_ar}}
                                    </th>
                                    <th>Maintenances</th>
                                </thead>
                                <tbody class="text-center">
                                    <tr *ngFor="let meter of maintenanceKilometer;">
                                        <td *ngFor="let type of maintenanceType" class="checked"
                                            (click)="createCarMaintenance(type.id,meter.id)">
                                            <div *ngFor="let car of carMaintenance;">
                                                <div *ngIf="car.maintenance_type_id == type.id && car.maintenance_kilometer_id == meter.id"
                                                    (click)="deleteCarMaintenance(car.id)">
                                                    <i class="fa-solid fa-check text-success"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{meter.kilometer}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Add Maintenances" [(visible)]="addModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <form [formGroup]='maintenanceForm' (ngSubmit)='addMaintenance(maintenanceForm)' id="addForm">
        <div class="row mx-0">
            <div class="col-12">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter Engineer Name" formControlName='name'>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text" class="form-control" placeholder="Enter Engineer Mobile"
                        formControlName='mobile'>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Enter Engineer Address"
                        formControlName='address'>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Second Mobile</label>
                    <input type="text" class="form-control" placeholder="Enter Engineer Second Mobile"
                        formControlName='phone'>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" form="addForm">Create</button>
    </ng-template>
</p-dialog>

<p-dialog header="Edit Maintenances" [(visible)]="editModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <form [formGroup]='maintenanceForm' (ngSubmit)='editMaintenance(maintenanceForm)' id="editForm">
        <div class="row mx-0">
            <div class="col-12">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter Engineer Name" formControlName='name'>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text" class="form-control" placeholder="Enter Engineer Mobile"
                        formControlName='mobile'>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Enter Engineer Address"
                        formControlName='address'>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Second Mobile</label>
                    <input type="text" class="form-control" placeholder="Enter Engineer Second Mobile"
                        formControlName='phone'>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" form="editForm">Update</button>
    </ng-template>
</p-dialog>

<p-dialog header="Add Maintenance Brand" [(visible)]="addBrandModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row mx-0">
        <!-- <div class="col-12">
            <div class="form-group">
                <label>Brands</label>
                <p-dropdown [options]="cars" optionLabel="car_name" styleClass="w-100" optionValue="id" #brandsDropdown
                    placeholder="Select Brand" appendTo="body">
                </p-dropdown>
            </div>
        </div> -->
        <div class="col-12">
            <span class="p-float-label">
                <p-multiSelect inputId="multiselect" [options]="cars" optionLabel="car_name" [filter]="true"
                    appendTo="body" optionValue="id" #brandsDropdown styleClass="w-100">
                </p-multiSelect>
                <label for="multiselect">Select Brand</label>
            </span>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" (click)="addBrandForMaintenanceCenter(brandsDropdown)">Add Brand</button>
    </ng-template>
</p-dialog>

<p-dialog header="Add Maintenance Kilometer" [(visible)]="createKilometerModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row mx-0">
        <div class="col-12">
            <div class="form-group">
                <label>Maintenance Kilometer</label>
                <input type="text"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    #KilometerInput maxLength="14" class="form-control" placeholder="Enter Kilometer">
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" (click)="createMaintenanceKilometer(KilometerInput.value)">Add</button>
    </ng-template>
</p-dialog>

<p-dialog header="Add Maintenance Type" [(visible)]="createTypeModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row mx-0">
        <div class="col-12">
            <div class="form-group">
                <label>Maintenance Type</label>
                <input type="text" class="form-control" placeholder="Enter Type" #TypeInput>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" (click)="createMaintenanceType(TypeInput.value)">Add</button>
    </ng-template>
</p-dialog>

<!-- <p-dialog header="Create Car Maintenance" [(visible)]="createCarMaintenanceModal" [modal]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div class="row mx-0">
        <div class="col-12">
            <div class="form-group">
                <label>Type</label>
                <p-dropdown [options]="maintenanceType" optionLabel="type_ar" styleClass="w-100" optionValue="id"
                    #TypeDropDown placeholder="Select Type" appendTo="body">
                </p-dropdown>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label>Kilometer</label>
                <p-dropdown [options]="maintenanceKilometer" optionLabel="kilometer" styleClass="w-100" optionValue="id"
                    #KilometerDropDown placeholder="Select Kilometer" appendTo="body">
                </p-dropdown>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1"
            (click)="createCarMaintenance(TypeDropDown.selectedOption.id,KilometerDropDown.selectedOption.id)">Add</button>
    </ng-template>
</p-dialog> -->

<!-- <p-dialog header="Update Car Maintenance" [(visible)]="updateCarMaintenanceModal" [modal]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div class="row mx-0">
        <div class="col-12">
            <div class="form-group">
                <label>Type</label>
                <p-dropdown [options]="maintenanceType" optionLabel="type_ar" styleClass="w-100" optionValue="id"
                    [(ngModel)]="updateMaintenance_type_id" #TypeDropDown_edit placeholder="Select Type"
                    appendTo="body">
                </p-dropdown>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label>Kilometer</label>
                <p-dropdown [options]="maintenanceKilometer" optionLabel="kilometer" styleClass="w-100" optionValue="id"
                    [(ngModel)]="updateMaintenance_kilometer_id" #KilometerDropDown_edit placeholder="Select Kilometer"
                    appendTo="body">
                </p-dropdown>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1"
            (click)="updateCarMaintenance(TypeDropDown_edit.selectedOption.id,KilometerDropDown_edit.selectedOption.id)">Update</button>
    </ng-template>
</p-dialog> -->

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<p-dialog header="Brand Search" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">

    <div class="form-group">
        <label>Brand Name</label>
        <p-dropdown [options]="cars" optionLabel="car_name" styleClass="w-100" filter="true" #SelectedBrand_filter
            placeholder="Select Brand" appendTo="body" optionValue="id"></p-dropdown>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" (click)="filterBrands(SelectedBrand_filter)">Apply</button>
        <button class="btn btn-danger m-1" (click)="resetFilter(SelectedBrand_filter);filterModal=false">Reset
            Filter</button>
    </ng-template>
</p-dialog>