<div class="row mx-0">
    <div class="col-xl-4 col-lg-5 col-md-6">
        <div class="card card-user">
            <div class="image">
                <img src="assets/img/damir-bosnjak.jpg" alt="...">
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="assets/img/logo-small.png" alt="...">
                        <h5 class="title">{{user?.name}}</h5>
                    </a>
                    <p class="description">
                        <small>{{user?.email}}</small>
                    </p>
                </div>
                <p class="description text-center">
                    " In a world where you can be anyone,<br> be yourself "
                </p>
            </div>
            <div class="card-footer">
                <hr>
                <div class="button-container">
                    <div class="row">
                        <div class="col-6 my-2">
                            <h5>
                                <small>Joined in</small>
                                <br>
                                <small>{{user?.created_at | date}}</small>
                            </h5>
                        </div>
                        <div class="col-6 my-2">
                            <h5>
                                <small>Updated in</small>
                                <br>
                                <small>{{user?.updated_at | date}}</small>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Edit Profile</h5>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Username" value="{{user?.name}}"
                                    #username>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Email (disabled)</label>
                                <input type="text" class="form-control" disabled="" placeholder="@Email"
                                    value="{{user?.email}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round"
                                (click)="updateCustomerProfile(username)">Update Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-7 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My Contracts</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled team-members" *ngIf="contracts.length;else no_contracts">
                    <li *ngFor="let contract of contracts;">
                        <div class="row">
                            <div class="col-1">
                                <div class="avatar">
                                    <img src="assets/img/default-avatar.png" alt="Circle Image"
                                        class="img-circle img-no-padding img-responsive">
                                </div>
                            </div>
                            <div class="col-8">
                                <span>{{contract.customer.name}}</span>
                                <br />
                                <span class="text-muted">
                                    <small>{{ contract.fromDate | date}}</small>
                                </span>
                            </div>
                            <div class="col-md-3 col-3 text-right">
                                <button class="btn btn-sm btn-outline-primary btn-round btn-icon"
                                    (click)="contractModal = true">
                                    <i class="fa-solid fa-info"></i></button>
                            </div>
                        </div>
                    </li>
                    <hr *ngIf="contracts.length > 1">
                </ul>
                <ng-template #no_contracts class="text-danger">
                    <small class="text-danger">there is no contracts at the moment...</small>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Contract Info" [(visible)]="contractModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" form="AssignUsersForm">Confirm</button>
    </ng-template>
</p-dialog>