<div class="row animated" #userTable>
  <div class="col-md-12" *ngIf="read">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4 class="card-title">Users Table</h4>
        <div class="text-center">
          <div class="input-group no-border">
            <input type="text" value="" placeholder="Search..." class="form-control" #searchInput
              (keydown)="search(searchInput)">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
          <button *ngIf="create" class="btn btn-primary" (click)="getAdminForm()">
            <i class="nc-icon nc-simple-add"></i>
            Add New User
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive overflow-auto">
          <table class="table">
            <thead class="text-secondary text-center">
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Image</th>
              <th>Action</th>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let user of users; let i = index">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.my_role}}</td>
                <td><img src="../../../assets/img/default-avatar.png" class="img-fluid rounded-circle"
                    style="width: 50px;height: 50px;" alt=""></td>
                <td>
                  <button *ngIf="isSuperAdmin" class="btn btn-success mx-2"
                    (click)="upgradeToSuperAdmin(user)">Promote</button>
                  <button *ngIf="update" class="btn btn-info mx-2"
                    (click)="editAdmin(user);getAssignedPermisstions()">Edit</button>
                  <button *ngIf="delete" class="btn btn-danger mx-2" (click)="deleteConfirm(user)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="isSuperAdmin">
      <div class="card-header d-flex justify-content-between">
        <h4 class="card-title">Super Admins Table</h4>
        <div class="text-center">
          <div class="input-group no-border">
            <input type="text" value="" placeholder="Search..." class="form-control" #searchInput2
              (keydown)="search2(searchInput2)">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
          <button *ngIf="create" class="btn btn-primary" (click)="displaySuperAdminForm()">
            <i class="nc-icon nc-simple-add"></i>
            Add Super Admin
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive overflow-auto">
          <table class="table">
            <thead class="text-secondary text-center">
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Image</th>
              <th>Action</th>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let user of superAdmins; let i = index">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.my_role}}</td>
                <td><img src="../../../assets/img/default-avatar.png" class="img-fluid rounded-circle"
                    style="width: 50px;height: 50px;" alt=""></td>
                <td>
                  <button *ngIf="update" class="btn btn-warning mx-2"
                    (click)="downgradeSuperAdmin(user)">unPromote</button>
                  <button *ngIf="update" class="btn btn-info mx-2"
                    (click)="displayEditSuperAdmin(user);getAssignedPermisstions()">Edit</button>
                  <button *ngIf="delete" class="btn btn-danger mx-2" (click)="deleteConfirm(user)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row animated d-none" #editForm>
  <div class="col-12">
    <div class="card card-user">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title">Edit User</h5>
        <button class="btn btn-dark" (click)="backEditBtn()">Back</button>
      </div>
      <div class="card-body">
        <!-- <label>Enable Super Admin</label> <br> -->
        <!-- <p-inputSwitch [(ngModel)]="enableSuperAdmin"></p-inputSwitch> -->
        <form [formGroup]='editUserForm' (ngSubmit)='updateAdmin(editUserForm)'>
          <div class="row">
            <div class="col-md-4 pr-md-1 d-none">
              <div class="form-group">
                <label>admin_id</label>
                <input type="text" class="form-control" placeholder="Username" value="" formControlName='admin_id'>
              </div>
            </div>
            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Username" value="" formControlName='name'>
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" placeholder="*******" formControlName='password'>
              </div>
            </div>
            <div class="col-md-5 pl-md-1">
              <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" disabled="true" placeholder="Email" value="aaaaa@sa"
                  formControlName='email'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 pr-1">
              <!-- <div class="form-group">
                <label class="mb-0">Users Permissions</label>
                <div class="d-flex flex-wrap">
                  <div *ngFor="let permission of permissions; let i=index" class="">
                    <div *ngIf="permission.type.toLowerCase() == 'users'"
                      class="m-3 d-flex justify-content-center align-items-center">
                      <input [id]="'ckb_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                        (change)="onCheckChange($event)" />
                      <label [for]="'ckb_'+i">{{permission.description}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <label class="mb-0">Leads Permissions</label>
                <div class="d-flex flex-wrap">
                  <div *ngFor="let permission of permissions; let i=index" class="">
                    <div *ngIf="permission.type.toLowerCase() == 'leads'"
                      class="m-3 d-flex justify-content-center align-items-center">
                      <input [id]="'ckb'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                        (change)="onCheckChange($event)" />
                      <label [for]="'ckb'+i">{{permission.description}}</label>
                    </div>
                  </div>
                </div>
              </div> -->

              <label class="mb-2">Permissions</label>
              <p-tabView [scrollable]="true">
                <p-tabPanel header="Users">
                  <div class="form-group">
                    <!-- <label class="mb-0">Users Permissions</label> -->
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'users'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_1_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_1_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Leads">
                  <div class="form-group">
                    <!-- <label class="mb-0">Leads Permissions</label> -->
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'leads'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_2_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_2_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Operations">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'operations'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_3_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_3_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Employees">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'employees'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_4_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_4_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Customers">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'customers'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_5_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_5_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Owners">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'owners'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_6_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_6_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Our Cars">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'ourcars'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_7_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_7_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Car Prices">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'carprices'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_8_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_8_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Car Settings">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'carsettings'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_9_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_9_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Insurances">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'insurances'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_10_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_10_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Policies">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'policies'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_11_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_11_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Sales Reports">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'salesreports'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_12_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_12_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Operations Reports">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'operationreports'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_13_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_13_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Car Maintenance">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'carmaintenances'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_14_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_14_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <!-- <p-tabPanel header="Accounting">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'accounting'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_2_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_2_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel> -->
              </p-tabView>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update User</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row animated d-none" #editForm2>
  <div class="col-12">
    <div class="card card-user">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title">Edit Super Admin</h5>
        <button class="btn btn-dark" (click)="backEditBtn2()">Back</button>
      </div>
      <div class="card-body">
        <!-- <label>Enable Super Admin</label> <br> -->
        <!-- <p-inputSwitch [(ngModel)]="enableSuperAdmin"></p-inputSwitch> -->
        <form [formGroup]='editUserForm' (ngSubmit)='updateAdmin(editUserForm)'>
          <div class="row">
            <div class="col-md-4 pr-md-1 d-none">
              <div class="form-group">
                <label>admin_id</label>
                <input type="text" class="form-control" placeholder="Username" value="" formControlName='admin_id'>
              </div>
            </div>
            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Username" value="" formControlName='name'>
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" placeholder="*******" formControlName='password'>
              </div>
            </div>
            <div class="col-md-5 pl-md-1">
              <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" disabled="true" placeholder="Email" value="aaaaa@sa"
                  formControlName='email'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Super Admin</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row animated d-none" #createForm>
  <div class="col-12">
    <div class="card card-user">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title">Create Admin</h5>
        <button class="btn btn-dark" (click)="backCreateBtn()">Back</button>
      </div>
      <div class="card-body">
        <!-- <label>Enable Super Admin</label> <br> -->
        <!-- <p-inputSwitch [(ngModel)]="enableSuperAdmin"></p-inputSwitch> -->
        <form [formGroup]='createAdminForm' class="mt-4" (ngSubmit)='createAdmin(createAdminForm)'>
          <div class="row">
            <div class="col-md-5 px-3">
              <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="Email" value="test@gmail.com"
                  formControlName='email'>
                <div class="text-left mb-2">
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('email')?.touched &&
                  createAdminForm.get('email')?.hasError('email')">This email is not valid!</small>
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('email')?.touched &&
                  createAdminForm.get('email')?.hasError('required')">This field is required!</small>
                </div>
              </div>
            </div>
            <div class="col-md-5 px-3">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Username" value="" formControlName='name'>
                <div class="text-left mb-2">
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('name')?.touched &&
                  createAdminForm.get('name')?.hasError('required')">This field is required!</small>
                </div>
              </div>
            </div>
            <div class="col-md-5 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" placeholder="*******" formControlName='password'>
                <div class="text-left mb-2">
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('password')?.touched &&
                  createAdminForm.get('password')?.hasError('required')">This field is required!</small>
                </div>
              </div>
            </div>
            <div class="col-md-5 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Confirm Password</label>
                <input type="password" class="form-control" placeholder="*******"
                  formControlName='password_confirmation'>
                <div class="text-left mb-2">
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('password_confirmation')?.touched &&
                  createAdminForm.get('password_confirmation')?.hasError('required')">This field is required!</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <!-- <div class="form-group">
                <label class="mb-0">Users Permissions</label>
                <div class="d-flex flex-wrap">
                  <div *ngFor="let permission of permissions; let i=index" class="">
                    <div *ngIf="permission.type.toLowerCase() == 'users'"
                      class="m-3 d-flex justify-content-center align-items-center">
                      <input [id]="'ckb_1_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                        (change)="onCheckChange($event,'create')" />
                      <label [for]="'ckb_1_'+i">{{permission.description}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <label class="mb-0">Leads Permissions</label>
                <div class="d-flex flex-wrap">
                  <div *ngFor="let permission of permissions; let i=index" class="">
                    <div *ngIf="permission.type.toLowerCase() == 'leads'"
                      class="m-3 d-flex justify-content-center align-items-center">
                      <input [id]="'ckb_2_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                        (change)="onCheckChange($event,'create')" />
                      <label [for]="'ckb_2_'+i">{{permission.description}}</label>
                    </div>
                  </div>
                </div>
              </div> -->
              <label class="mb-2">Permissions</label>
              <p-tabView [scrollable]="true">
                <p-tabPanel header="Users">
                  <div class="form-group">
                    <!-- <label class="mb-0">Users Permissions</label> -->
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'users'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_11_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_11_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Leads">
                  <div class="form-group">
                    <!-- <label class="mb-0">Leads Permissions</label> -->
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'leads'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_22_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_22_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Operations">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'operations'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_33_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_33_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Employees">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'employees'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_44_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_44_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Customers">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'customers'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_55_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_55_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Owners">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'owners'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_66_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_66_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Our Cars">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'ourcars'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_77_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_77_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Car Prices">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'carprices'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_88_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_88_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Car Settings">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'carsettings'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_99_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_99_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Insurances">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'insurances'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_100_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_100_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Policies">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'policies'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_110_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_110_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Sales Reports">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'salesreports'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_120_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_120_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Operations Reports">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'operationreports'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_130_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_130_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Car Maintenance">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'carmaintenances'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_140_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_140_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
                <!-- <p-tabPanel header="Accounting">
                  <div class="form-group">
                    <div class="d-flex flex-wrap">
                      <div *ngFor="let permission of permissions; let i=index" class="">
                        <div *ngIf="permission.type.toLowerCase() == 'accounting'"
                          class="m-3 d-flex justify-content-center align-items-center">
                          <input [id]="'ckb_2_'+i" class="ckb ckb-primary" type="checkbox" [value]="permission.value"
                            (change)="onCheckChange($event,'create')" />
                          <label [for]="'ckb_2_'+i">{{permission.description}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel> -->
              </p-tabView>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" [disabled]="createAdminForm.invalid">Create
                Admin</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row animated d-none" #createForm2>
  <div class="col-12">
    <div class="card card-user">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title">Create Super Admin</h5>
        <button class="btn btn-dark" (click)="backCreateBtn2()">Back</button>
      </div>
      <div class="card-body">
        <!-- <label>Enable Super Admin</label> <br> -->
        <!-- <p-inputSwitch [(ngModel)]="enableSuperAdmin"></p-inputSwitch> -->
        <form [formGroup]='createAdminForm' class="mt-4" (ngSubmit)='createSuperAdmin(createAdminForm)'>
          <div class="row">
            <div class="col-md-5 px-3">
              <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="Email" value="test@gmail.com"
                  formControlName='email'>
                <div class="text-left mb-2">
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('email')?.touched &&
                  createAdminForm.get('email')?.hasError('email')">This email is not valid!</small>
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('email')?.touched &&
                  createAdminForm.get('email')?.hasError('required')">This field is required!</small>
                </div>
              </div>
            </div>
            <div class="col-md-5 px-3">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Username" value="" formControlName='name'>
                <div class="text-left mb-2">
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('name')?.touched &&
                  createAdminForm.get('name')?.hasError('required')">This field is required!</small>
                </div>
              </div>
            </div>
            <div class="col-md-5 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" placeholder="*******" formControlName='password'>
                <div class="text-left mb-2">
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('password')?.touched &&
                  createAdminForm.get('password')?.hasError('required')">This field is required!</small>
                </div>
              </div>
            </div>
            <div class="col-md-5 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Confirm Password</label>
                <input type="password" class="form-control" placeholder="*******"
                  formControlName='password_confirmation'>
                <div class="text-left mb-2">
                  <small class="text-danger ms-1" *ngIf="createAdminForm.get('password_confirmation')?.touched &&
                  createAdminForm.get('password_confirmation')?.hasError('required')">This field is required!</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" [disabled]="createAdminForm.invalid">Create Super
                Admin</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>