<div class="row my-3">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Insurance Companies</span>

                <button class="btn btn-primary" style="padding: 6px 12px;" (click)="displayInsuranceModal()">
                    <small><b>Add</b></small>
                </button>
            </div>
            <div class="card-body ">
                <div class="table-responsive overflow-auto">
                    <table class="table">
                        <thead class="text-secondary text-center">
                            <th>#</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Details</th>
                            <th>Responsible Name</th>
                            <th>Action</th>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let company of insuranceCompanies; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{company.name}}</td>
                                <td>{{company.mobile}}</td>
                                <td>{{company.email}}</td>
                                <td>{{company.details}}</td>
                                <td>{{company.responsible_name}}</td>
                                <td>
                                    <button class="btn btn-info mx-2"
                                        (click)="openUpdatePolicyModal(company)">Edit</button>
                                    <!-- <button class="btn btn-danger mx-2"
                                    (click)="deleteInsuranceConfirm(company.id)">Delete</button> -->
                                    <button class="btn btn-secondary mx-2" (click)="openAddPolicyModal(company)">Add
                                        Policy</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Client Insurance Companies</span>

            </div>
            <div class="card-body ">
                <div class="table-responsive overflow-auto">

                    <table class="table">
                        <thead class="text-secondary text-center">
                            <th>#</th>
                            <th>Name</th>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let company of clientInsuranceCompany; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{company.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Add Insurance Company" [(visible)]="addInsuranceModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row">
        <form [formGroup]='insuranceCompanyForm' (ngSubmit)='addInsuranceCompany(insuranceCompanyForm)'
            id="addInsuranceForm">
            <div class="row mx-0">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter Company Name" formControlName='name'>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="number" class="form-control" placeholder="+02" formControlName='mobile'>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Responsible Name</label>
                        <input type="text" class="form-control" placeholder="Enter Responsible Name"
                            formControlName='responsible_name'>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Enter Company Email"
                            formControlName='email'>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Details</label>
                        <input type="text" class="form-control" placeholder="Enter Company Details"
                            formControlName='details'>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" form="addInsuranceForm">Create</button>
    </ng-template>
</p-dialog>

<p-dialog header="Add Policy" [(visible)]="policyModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Policy</label>
                <p-dropdown [options]="policies" optionLabel="name" styleClass="w-100" [(ngModel)]="selectedPolicy"
                    placeholder="Select Policy" #policy appendTo="body" optionValue="value"></p-dropdown>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" (click)="addPolicyToInsuranceCompany(policy)">Add</button>
    </ng-template>
</p-dialog>

<p-dialog header="Edit Insurance Company" [(visible)]="editInsuranceModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row">
        <form [formGroup]='insuranceCompanyForm' (ngSubmit)='editInsuranceCompany(insuranceCompanyForm)'
            id="editInsuranceForm">
            <div class="row mx-0">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter Company Name" formControlName='name'>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="number" class="form-control" placeholder="+02" formControlName='mobile'>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Responsible Name</label>
                        <input type="text" class="form-control" placeholder="Enter Responsible Name"
                            formControlName='responsible_name'>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Enter Company Email"
                            formControlName='email'>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Details</label>
                        <input type="text" class="form-control" placeholder="Enter Company Details"
                            formControlName='details'>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" form="editInsuranceForm">Update</button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>