<div class="row animated" #Main>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h4 class="card-title">Operation Table</h4>
                <div class="text-center">
                    <!-- <button class="btn btn-primary m-1" (click)="filterModal = true">
                        <i class="fa-solid fa-filter"></i>
                        Filter
                    </button> -->
                    <!-- <button class="btn btn-primary" style="padding: 6px 12px;" (click)="createModal = true">
                        <small><b>Add</b></small>
                    </button> -->
                    <!-- <button class="btn btn-primary m-1">
                        Area Settings
                    </button> -->
                    <button class="btn btn-primary m-1" (click)="displaySettings()">
                        <i class="fa-solid fa-gear"></i>
                        Settings
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive overflow-auto">
                    <table class="table">
                        <thead class="text-secondary text-center">
                            <th>#</th>
                            <th>Issue Date</th>
                            <th>Customer Name</th>
                            <th>Owner Name</th>
                            <th>Car Name</th>
                            <th>Action</th>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let report of reports; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{report?.created_at | date}}</td>
                                <td>{{report?.customer?.name}}</td>
                                <td>{{report?.car?.owner?.name}}</td>
                                <td>{{report?.car?.name}}</td>
                                <td>
                                    <button class="btn btn-primary m-1 px-3" (click)="getById(report.id);">
                                        <i class="fa-regular fa-eye"></i>
                                    </button>

                                    <!-- <button class="btn btn-info m-1 px-3" (click)="displayAssignContract(report.id);">
                                        Assign
                                    </button> -->

                                    <button class="btn btn-secondary m-1 px-3" (click)="displayLogContract(report);">
                                        <!-- <i class="fa-solid fa-thumbtack"></i> -->
                                        Log Contract
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination [collectionSize]="pagination?.total" [page]="pagination?.current_page"
                        (pageChange)="loadPage($event)" [pageSize]="pagination?.per_page">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated d-none" #Show>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Contract Info</h4>
                            <div>
                                <button class="btn btn-primary mx-1" *ngIf="selectedRow?.logs.length != 0"
                                    (click)="displayActionInfo()">Action Info</button>
                                <button class="btn btn-dark mx-1" (click)="backDetailsBtn()">Back</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive overflow-auto">
                                <table class="table">
                                    <thead class="text-muted">
                                        <th>Title</th>
                                        <th>Description</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Issue Date</td>
                                            <td>{{selectedRow?.created_at | date}}</td>
                                        </tr>
                                        <tr>
                                            <td>Customer Name</td>
                                            <td>{{selectedRow?.customer?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Customer Mobile</td>
                                            <td>{{selectedRow?.customer?.mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>Customer Address</td>
                                            <td>{{selectedRow?.customer?.address}}</td>
                                        </tr>
                                        <tr>
                                            <td>Customer National Id</td>
                                            <td>{{selectedRow?.customer?.nid}}</td>
                                        </tr>
                                        <tr>
                                            <td>Car Name</td>
                                            <td>{{selectedRow?.car?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Car color</td>
                                            <td>{{selectedRow?.car?.color}}</td>
                                        </tr>
                                        <tr>
                                            <td>Car model</td>
                                            <td>{{selectedRow?.car?.model}}</td>
                                        </tr>
                                        <tr>
                                            <td>Car motor_no</td>
                                            <td>{{selectedRow?.car?.motor_no}}</td>
                                        </tr>
                                        <tr>
                                            <td>Car plate_no</td>
                                            <td>{{selectedRow?.car?.plate_no}}</td>
                                        </tr>
                                        <tr>
                                            <td>Car chassis_no</td>
                                            <td>{{selectedRow?.car?.chassis_no}}</td>
                                        </tr>
                                        <tr>
                                            <td>Car grade</td>
                                            <td>{{selectedRow?.car?.grade}}</td>
                                        </tr>
                                        <tr>
                                            <td>Car license end</td>
                                            <td>{{selectedRow?.car?.license_end | date}}</td>
                                        </tr>
                                        <tr>
                                            <td>Owner Name</td>
                                            <td>{{selectedRow?.car?.owner?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Owner mobile</td>
                                            <td>{{selectedRow?.car?.owner?.mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>Owner address</td>
                                            <td>{{selectedRow?.car?.owner?.address}}</td>
                                        </tr>
                                        <tr>
                                            <td>Owner National Id</td>
                                            <td>{{selectedRow?.car?.owner?.nid}}</td>
                                        </tr>
                                        <!-- <tr *ngFor="let log of selectedRow.logs; let i = index">
                                            <td>Log #{{i}}</td>
                                            <td>{{log.kilometer_in}}</td>
                                            <td>{{log.kilometer_out}}</td>
                                            <td>{{log.lang}}</td>
                                            <td>{{log.lat}}</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated d-none" #Show2>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Action Info</h4>
                            <div>
                                <button class="btn btn-primary mx-1" (click)="displayCarInfo()">Car Info</button>
                                <button class="btn btn-dark mx-1" (click)="backDetailsBtn2()">Back</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive overflow-auto" *ngIf="selectedRow?.logs.length != 0">
                                <table class="table text-center">
                                    <thead class="text-muted">
                                        <th>#</th>
                                        <th>Issue Date</th>
                                        <!-- <th>Kilometer in</th> -->
                                        <!-- <th>Kilometer out</th> -->
                                        <th>Kilometers</th>
                                        <!-- <th>Longitude Coordinates</th> -->
                                        <!-- <th>Latitude Coordinates</th> -->
                                        <th>Area</th>
                                        <th>Admin Logged</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let log of selectedRow?.logs; let i = index">
                                            <td>{{i + 1}}</td>
                                            <td>{{log.created_at | date}}</td>
                                            <!-- <td>{{log.kilometer_in}}</td> -->
                                            <!-- <td>{{log.kilometer_out}}</td> -->
                                            <td>{{log.kilometer_out - log.kilometer_in}} Km</td>
                                            <!-- <td>{{log.lang}}</td> -->
                                            <!-- <td>{{log.lat}}</td> -->
                                            <td>{{log.area}}</td>
                                            <td>{{log.user.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table-responsive overflow-auto" *ngIf="selectedRow?.assign.length != 0">
                                <table class="table text-center">
                                    <thead class="text-muted">
                                        <th>#</th>
                                        <th>Issue Date</th>
                                        <th>Assigned User</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let assign of selectedRow?.assign; let i = index">
                                            <td>{{i + 1}}</td>
                                            <td>{{assign?.created_at | date: 'dd/MM/yyyy hh:mm a'}}</td>
                                            <td>{{assign?.user.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <p-dialog header="Customer Search" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <form [formGroup]='filterForm' (ngSubmit)='filter(filterForm)' id="filterForm">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Issue Date</label>
                    <br>
                    <p-calendar formControlName="created_at" appendTo="body" [style]="{'width':'100%'}"
                        selectionMode="range" placeholder="Select Date">
                    </p-calendar>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" form="filterForm">Apply</button>
        <button class="btn btn-danger m-1" (click)="resetFilter();filterModal=false">Reset Filter</button>
    </ng-template>
</p-dialog> -->


<!-- <p-dialog header="Assign Contract" [(visible)]="assignModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>User</label>
                <p-dropdown [options]="users" optionLabel="name" styleClass="w-100" placeholder="Select Users"
                    #SelectedUser appendTo="body" optionValue="value"></p-dropdown>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" (click)="assignContract(SelectedUser)">Apply</button>
    </ng-template>
</p-dialog> -->

<p-dialog header="Log Contract" [(visible)]="logModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <form [formGroup]='logForm' (ngSubmit)='logContract(logForm)' id="logForm">
        <div class="row">
            <!-- <div class="col-12 d-none">
                <div class="form-group">
                    <input type="text" formControlName="operation_contract_id" value="currentContract">
                </div>
            </div> -->
            <div class="col-12">
                <div class="form-group">
                    <div class="d-flex align-items-center justify-content-between">
                        <label>Area</label>
                        <small (click)="areaModal = true"><i
                                class="nc-icon nc-simple-add text-white bg-success p-1 pointer rounded-circle mb-1"></i></small>
                    </div>
                    <p-dropdown [options]="area" optionLabel="name" styleClass="w-100" placeholder="Select Area"
                        formControlName="area" appendTo="body" optionValue="name"></p-dropdown>
                </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="form-group">
                    <label>Latitude Coordinates</label>
                    <input type="text"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        maxLength="30" class="form-control" formControlName='lat'
                        placeholder="Enter latitude coordinates">
                    <div class="text-left mb-2">
                        <small class="text-danger ms-1" *ngIf="logForm.get('lat')?.touched &&
                            logForm.get('lat')?.hasError('required')">This field is required!
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Longitude Coordinates</label>
                    <input type="text"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        maxLength="30" class="form-control" formControlName='lang'
                        placeholder="Enter longitude coordinates">
                    <div class="text-left mb-2">
                        <small class="text-danger ms-1" *ngIf="logForm.get('lang')?.touched &&
                            logForm.get('lang')?.hasError('required')">This field is required!
                        </small>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Kilometer in</label>
                    <input type="text"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        maxLength="30" class="form-control" formControlName='kilometer_in'
                        placeholder="Enter kilometer">
                    <div class="text-left mb-2">
                        <small class="text-danger ms-1" *ngIf="logForm.get('kilometer_in')?.touched &&
                            logForm.get('kilometer_in')?.hasError('required')">This field is required!
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Kilometer out</label>
                    <input type="text"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        maxLength="30" class="form-control" formControlName='kilometer_out'
                        placeholder="Enter kilometer">
                    <div class="text-left mb-2">
                        <small class="text-danger ms-1" *ngIf="logForm.get('kilometer_out')?.touched &&
                            logForm.get('kilometer_out')?.hasError('required')">This field is required!
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" form="logForm" [disabled]="logForm.invalid">Apply</button>
    </ng-template>
</p-dialog>

<!-- <p-dialog header="Create Contract" [(visible)]="createModal" [modal]="true" [style]="{width: '50vw'}"

    [draggable]="false" [resizable]="false">
    <form [formGroup]='createForm' (ngSubmit)='createContract(createForm)' id="createForm">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Car</label>
                    <p-dropdown [options]="cars" optionLabel="name" styleClass="w-100" placeholder="Select Car"
                        formControlName="car_id" appendTo="body" optionValue="id"></p-dropdown>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Owner</label>
                    <p-dropdown [options]="owners" optionLabel="name" styleClass="w-100" placeholder="Select Owner"
                        formControlName="owner_id" appendTo="body" optionValue="id"></p-dropdown>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Customer</label>
                    <p-dropdown [options]="customers" optionLabel="name" styleClass="w-100"
                        placeholder="Select Customer" formControlName="customer_id" appendTo="body" optionValue="id">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" form="createForm" [disabled]="createForm.invalid">Apply</button>
    </ng-template>
</p-dialog> -->


<div class="row animated d-none" #Settings>
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="m-0">Area Settings</h4>
                <div>
                    <button class="btn btn-primary mx-1" (click)="areaModal = true;">
                        Add
                    </button>
                    <button class="btn btn-secondary mx-1" (click)="backSettingBtn()">
                        Back
                    </button>
                </div>
            </div>
            <div class="card-body ">
                <table class="table">
                    <thead class="text-secondary text-center">
                        <th>#</th>
                        <th>Name</th>
                        <th>Action</th>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let data of area; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{data.name | uppercase}}</td>
                            <td>
                                <button class="btn btn-danger mx-2" (click)="deleteArea(data.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination [collectionSize]="pagination2?.total" [page]="pagination2?.current_page"
                    (pageChange)="loadPage2($event)" [pageSize]="pagination2?.per_page">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Area Setting" [(visible)]="areaModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Area Name</label>
                <input type="text" class="form-control" placeholder="Enter Area Name" #AreaName>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" (click)="addArea(AreaName)">Add</button>
    </ng-template>
</p-dialog>