<div class="sidebar-wrapper" style="direction: rtl;" id="style-1">
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/logo.jpg">
      </div>
    </a>
    <a href="" class="simple-text logo-normal">
      <b>Eagles</b> Limousine
    </a>
  </div>
  <ul class="nav" style="direction: ltr;">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]" *ngIf="
         menuItem.title == 'Users'? hasUserRead:true &&
         menuItem.title == 'leads'? hasLeadRead:true &&
         menuItem.title == 'employees'? hasEmployeesRead:true &&
         menuItem.title == 'customers'? hasCustomersRead:true &&
         menuItem.title == 'Operations'? hasOperationRead:true &&
         menuItem.title == 'car settings'? hasCarSettingRead:true &&
         menuItem.title == 'our-cars'? hasOurCarsRead:true &&
         menuItem.title == 'car-price'? hasCarPriceRead:true &&
         menuItem.title == 'Insurance'? hasInsuranceRead:true &&
         menuItem.title == 'Policies'? hasPolicyRead:true &&
         menuItem.title == 'sales-report'? hasSalesReportRead:true &&
         menuItem.title == 'operation-report'? hasOperationReportRead:true &&
         menuItem.title == 'car-maintenance'? hasCarMaintenanceRead:true &&
         menuItem.title == 'Accounting'? hasAccountingRead:true &&
         menuItem.title == 'owners'? hasOwnersRead:true">

        <i class=" {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
    <!-- <p-panelMenu [model]="items"></p-panelMenu> -->
  </ul>
</div>