<div class="row mx-0 animated" #Cars>
  <div class="col-12">
    <div class="card h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Cars</span>

        <div class="text-right">
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayColors();">
            <small><b>Colors</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayGrades();">
            <small><b>Grades</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayTypes();">
            <small><b>Types</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayInsurances();">
            <small><b>Insurances</b></small>
          </button>
          <button class="btn btn-primary mx-1" style="padding: 6px 12px;" (click)="addCarNameModal = true">
            <small><b>Add</b></small>
          </button>
        </div>
      </div>
      <div class="card-body ">
        <table class="table">
          <thead class="text-secondary text-center">
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let car of carName; let i = index">
              <td>{{i+1}}</td>
              <td>{{car.car_name | uppercase}}</td>
              <td>
                <button class="btn btn-info mx-2" (click)="displaySubTypes(car.id)">Sub Type</button>
                <button class="btn btn-danger mx-2" (click)="deleteCarNameConfirm(car.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0 animated d-none" #SubTypes>
  <div class="col-12">
    <div class="card h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Car Sub Type</span>

        <!-- <button class="btn btn-dark" style="padding: 6px 12px;" (click)="addCarSubModal = true">
          <small><b>Add</b></small>
        </button> -->

        <div class="text-right">
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayCars();">
            <small><b>Cars</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayColors();">
            <small><b>Colors</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayGrades();">
            <small><b>Grades</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayTypes();">
            <small><b>Types</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayInsurances();">
            <small><b>Insurances</b></small>
          </button>
          <button class="btn btn-primary mx-1" style="padding: 6px 12px;" (click)="addCarSubModal = true">
            <small><b>Add</b></small>
          </button>
        </div>
      </div>
      <div class="card-body ">
        <table class="table">
          <thead class="text-secondary text-center">
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let car of carSub; let i = index">
              <td>{{i+1}}</td>
              <td>{{car.car_model | uppercase}}</td>
              <td>
                <button class="btn btn-danger mx-2" (click)="deleteCarSubConfirm(car.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0 animated d-none" #Colors>
  <div class="col-12">
    <div class="card h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Car Color</span>

        <!-- <button class="btn btn-dark" style="padding: 6px 12px;" (click)="addCarColorModal = true">
          <small><b>Add</b></small>
        </button> -->

        <div class="text-right">
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayCars();">
            <small><b>Cars</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayGrades();">
            <small><b>Grades</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayTypes();">
            <small><b>Types</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayInsurances();">
            <small><b>Insurances</b></small>
          </button>
          <button class="btn btn-primary mx-1" style="padding: 6px 12px;" (click)="addCarColorModal = true">
            <small><b>Add</b></small>
          </button>
        </div>
      </div>
      <div class="card-body ">
        <table class="table">
          <thead class="text-secondary text-center">
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let car of carColor; let i = index">
              <td>{{i+1}}</td>
              <td>{{car.car_color | uppercase}}</td>
              <td>
                <button class="btn btn-danger mx-2" (click)="deleteCarColorConfirm(car.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0 animated d-none" #Grades>
  <div class="col-12">
    <div class="card h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Car Grade</span>

        <!-- <button class="btn btn-dark" style="padding: 6px 12px;" (click)="gradeModal = true">
          <small><b>Add</b></small>
        </button> -->

        <div class="text-right">
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayCars();">
            <small><b>Cars</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayColors();">
            <small><b>Colors</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayTypes();">
            <small><b>Types</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayInsurances();">
            <small><b>Insurances</b></small>
          </button>
          <button class="btn btn-primary mx-1" style="padding: 6px 12px;" (click)="gradeModal = true">
            <small><b>Add</b></small>
          </button>
        </div>
      </div>
      <div class="card-body ">
        <table class="table">
          <thead class="text-secondary text-center">
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let car of carGrade; let i = index">
              <td>{{i+1}}</td>
              <td>{{car.grade | uppercase}}</td>
              <td>
                <button class="btn btn-danger mx-2" (click)="deleteGradeConfirm(car.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0 animated d-none" #Types>
  <div class="col-12">
    <div class="card h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Car Type</span>

        <!-- <button class="btn btn-dark" style="padding: 6px 12px;" (click)="addCarTypeModal = true">
          <small><b>Add</b></small>
        </button> -->

        <div class="text-right">
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayCars();">
            <small><b>Cars</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayColors();">
            <small><b>Colors</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayGrades();">
            <small><b>Grades</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayInsurances();">
            <small><b>Insurances</b></small>
          </button>
          <button class="btn btn-primary mx-1" style="padding: 6px 12px;" (click)="addCarTypeModal = true">
            <small><b>Add</b></small>
          </button>
        </div>
      </div>
      <div class="card-body ">
        <table class="table">
          <thead class="text-secondary text-center">
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let car of carType; let i = index">
              <td>{{i+1}}</td>
              <td>{{car.car_type | uppercase}}</td>
              <td>
                <button class="btn btn-danger mx-2" (click)="deleteCarTypeConfirm(car.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0 animated d-none" #Insurances>
  <div class="col-12">
    <div class="card h-100">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Car Insurance</span>

        <!-- <button class="btn btn-dark" style="padding: 6px 12px;" (click)="insuranceModal = true">
          <small><b>Add</b></small>
        </button> -->

        <div class="text-right">
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayCars();">
            <small><b>Cars</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayColors();">
            <small><b>Colors</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayGrades();">
            <small><b>Grades</b></small>
          </button>
          <button class="btn btn-dark mx-1" style="padding: 6px 12px;" (click)="displayTypes();">
            <small><b>Types</b></small>
          </button>
          <button class="btn btn-primary mx-1" style="padding: 6px 12px;" (click)="insuranceModal = true">
            <small><b>Add</b></small>
          </button>
        </div>
      </div>
      <div class="card-body ">
        <table class="table">
          <thead class="text-secondary text-center">
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let car of carInsurance; let i = index">
              <td>{{i+1}}</td>
              <td>{{car.status | uppercase}}</td>
              <td>
                <button class="btn btn-danger mx-2" (click)="deleteInsuranceConfirm(car.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Car Setting" [(visible)]="addCarNameModal" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Car Name</label>
        <input type="text" class="form-control" placeholder="Enter Car Name" #CarName>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary m-1" (click)="addCarName(CarName)">Add</button>
  </ng-template>
</p-dialog>

<p-dialog header="Car Setting" [(visible)]="addCarSubModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
  [resizable]="false">
  <div class="row">
    <!-- <div class="col-12">
      <div class="form-group">
        <label>Car Name</label>
        <p-dropdown [options]="carName" optionLabel="car_name" styleClass="w-100" #CarId placeholder="Select Car Name"
          filter="true" appendTo="body" optionValue="id">
        </p-dropdown>
      </div>
    </div> -->
    <div class="col-12">
      <div class="form-group">
        <label>Car Sub Type</label>
        <input type="text" class="form-control" placeholder="Enter Car Sub Type" #CarSub>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary m-1" (click)="addCarSub(CarSub)">Add</button>
  </ng-template>
</p-dialog>

<p-dialog header="Car Setting" [(visible)]="addCarColorModal" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Car Color</label>
        <input type="text" class="form-control" placeholder="Enter Car Color" #CarColor>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary m-1" (click)="addCarColor(CarColor)">Add</button>
  </ng-template>
</p-dialog>

<p-dialog header="Car Setting" [(visible)]="addCarTypeModal" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Car Type</label>
        <input type="text" class="form-control" placeholder="Enter Car Type" #CarType>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary m-1" (click)="addCarType(CarType)">Add</button>
  </ng-template>
</p-dialog>

<p-dialog header="Car Setting" [(visible)]="gradeModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
  [resizable]="false">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Car Grades</label>
        <input type="text" class="form-control" placeholder="Enter A Grade" #grade>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary m-1" (click)="addGrade(grade)">Add</button>
  </ng-template>
</p-dialog>

<p-dialog header="Car Setting" [(visible)]="insuranceModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
  [resizable]="false">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Car Insurance</label>
        <input type="text" class="form-control" placeholder="Enter An Insurance" #insurance>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary m-1" (click)="addInsurance(insurance)">Add</button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>