.cover {
    // color: #ddd;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #F4F3EF;
}

h1 {
    font-size: 70px;
    padding-top: 10%;
}

h3 {
    font-size: 35px;
}