<section class="centered d-flex justify-content-center align-items-center vh-100">
    <div>
        <h1>500 Server Error</h1>
        <div class="container text-center">
            <span class="message" id="js-whoops"></span> <span class="message" id="js-appears"></span> <span
                class="message" id="js-error"></span> <span class="message" id="js-apology"></span>
            <div><span class="hidden " id="js-hidden">Unfortunaly, the server crashed. Apologies</span></div>
        </div>
    </div>
</section>