<div class="row animated" #Main>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h4 class="card-title">Car Owner Table</h4>
                <div class="text-center">
                    <button class="btn btn-primary m-1" (click)="filterModal = true">
                        <i class="fa-solid fa-filter"></i>
                        Filter
                    </button>
                    <button class="btn btn-primary m-1" (click)="export()">
                        <i class="fa-regular fa-file-excel"></i>
                        Export
                    </button>
                    <button class="btn btn-primary m-1" (click)="displayCreateForm()">
                        <i class="fa-solid fa-plus"></i>
                        Add
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive overflow-auto">
                    <table class="table">
                        <thead class="text-secondary text-center">
                            <th>#</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Action</th>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let car of cars; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{car.name}}</td>
                                <td>{{car.mobile}}</td>
                                <td>{{car.address}}</td>
                                <td>
                                    <button class="btn btn-primary m-1 px-3" (click)="getById(car.id);"><i
                                            class="fa-regular fa-eye"></i></button>
                                    <button class="btn btn-info m-1 px-3" (click)="displayEditForm(car)"><i
                                            class="fa-regular fa-pen-to-square"></i></button>
                                    <button class="btn btn-danger m-1 px-3" (click)="deleteConfirm(car.id)"><i
                                            class="fa-solid fa-trash-can"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination [collectionSize]="pagination?.total" [page]="pagination?.current_page"
                        (pageChange)="loadPage($event)" [pageSize]="pagination?.per_page">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated d-none" #Show>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Car Owner Info</h4>
                            <button class="btn btn-dark" (click)="backDetailsBtn()">Back</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive overflow-auto">
                                <table class="table">
                                    <thead class="text-muted">
                                        <th>Title</th>
                                        <th>Description</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Owner Name</td>
                                            <td>{{selectedRow?.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Owner Mobile</td>
                                            <td>{{selectedRow?.mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>Owner Address</td>
                                            <td>{{selectedRow?.address}}</td>
                                        </tr>
                                        <tr>
                                            <td>Owner National Id</td>
                                            <td>{{selectedRow?.nid}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>Owner National Id Front Image</div>
                                                <button class="btn btn-info mx-1 mt-2" style="padding: 6px 12px;"
                                                    (click)="uploadModal1 = true">
                                                    <small><b>Update</b> <i
                                                            class="ml-2 fa-regular fa-pen-to-square"></i></small>
                                                </button>
                                            </td>
                                            <!-- <td>
                                                <p-image *ngIf="selectedRow?.national_front_image"
                                                    [src]="selectedRow?.national_front_image" alt=" National Id"
                                                    width="50" height="50" [preview]="true"></p-image>
                                            </td> -->
                                            <td>
                                                <div *ngFor="let file of selectedRow?.files;">
                                                    <p-image *ngIf="file.type == 'national_front'"
                                                        src="http://api.eagles-limo.com/{{file?.image}}"
                                                        alt=" National Id" width="50" height="50" [preview]="true">
                                                    </p-image>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>Owner National Id Back Image</div>
                                                <button class="btn btn-info mx-1 mt-2" style="padding: 6px 12px;"
                                                    (click)="uploadModal2 = true">
                                                    <small><b>Update</b> <i
                                                            class="ml-2 fa-regular fa-pen-to-square"></i></small>
                                                </button>
                                            </td>
                                            <!-- <td>
                                                <p-image *ngIf="selectedRow?.national_back_image"
                                                    [src]="selectedRow?.national_back_image" alt=" National Id"
                                                    width="50" height="50" [preview]="true"></p-image>
                                            </td> -->
                                            <td>
                                                <div *ngFor="let file of selectedRow?.files;">
                                                    <p-image *ngIf="file.type == 'national_back'"
                                                        src="http://api.eagles-limo.com/{{file?.image}}"
                                                        alt=" National Id" width="50" height="50" [preview]="true">
                                                    </p-image>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated d-none" #CreateForm>
    <div class="col-12">
        <div class="card card-user">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title">Create Form</h5>
                <button class="btn btn-dark" (click)="backCreateBtn()">Back</button>
            </div>
            <div class="card-body">
                <form [formGroup]='carsForm' (ngSubmit)='createRow(carsForm)'>
                    <div class="row">
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Enter your name"
                                    formControlName='name'>
                                <div class="text-left mb-2">
                                    <small class="text-danger ms-1" *ngIf="carsForm.get('name')?.touched &&
                                                carsForm.get('name')?.hasError('required')">This field is
                                        required!</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                    maxLength="11" class="form-control" formControlName='mobile'
                                    placeholder="Enter Mobile Number">
                                <div class="text-left mb-2">
                                    <small class="text-danger ms-1" *ngIf="carsForm.get('mobile')?.touched &&
                                                carsForm.get('mobile')?.hasError('required')">This field is
                                        required!</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Enter your address"
                                    formControlName='address'>
                                <div class="text-left mb-2">
                                    <small class="text-danger ms-1" *ngIf="carsForm.get('address')?.touched &&
                                                carsForm.get('address')?.hasError('required')">This field is
                                        required!</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>National ID</label>
                                <input type="text"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                    maxLength="14" class="form-control" formControlName='nid'
                                    placeholder="Enter National ID">
                                <div class="text-left mb-2">
                                    <small class="text-danger ms-1" *ngIf="carsForm.get('nid')?.touched &&
                                                carsForm.get('nid')?.hasError('required')">This field is
                                        required!</small>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload National Id (Front)</label>
                                <p-fileUpload (uploadHandler)="uploadImage($event,'front')" accept="image/*"
                                    [showCancelButton]="false" [showUploadButton]='false' [auto]="true" #uploadedImage1
                                    customUpload="true" maxFileSize="1000000" (onRemove)="removeImage('front')">
                                    <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes
                                            </li>
                                        </ul>
                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload National Id (Back)</label>
                                <p-fileUpload (uploadHandler)="uploadImage($event,'back')" accept="image/*"
                                    [showCancelButton]="false" [showUploadButton]='false' [auto]="true" #uploadedImage2
                                    customUpload="true" maxFileSize="1000000" (onRemove)="removeImage('back')">
                                    <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes
                                            </li>
                                        </ul>
                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round"
                                [disabled]="carsForm.invalid">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row animated d-none" #EditForm>
    <div class="col-12">
        <div class="card card-user">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title">Edit Form</h5>
                <button class="btn btn-dark" (click)="backEditBtn()">Back</button>
            </div>
            <div class="card-body">
                <form [formGroup]='carsForm' (ngSubmit)='editRow(carsForm)'>
                    <div class="row">
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Enter your name"
                                    formControlName='name'>
                                <div class="text-left mb-2">
                                    <small class="text-danger ms-1" *ngIf="carsForm.get('name')?.touched &&
                                                carsForm.get('name')?.hasError('required')">This field is
                                        required!</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                    maxLength="11" class="form-control" formControlName='mobile'
                                    placeholder="Enter Mobile Number">
                                <div class="text-left mb-2">
                                    <small class="text-danger ms-1" *ngIf="carsForm.get('mobile')?.touched &&
                                                carsForm.get('mobile')?.hasError('required')">This field is
                                        required!</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="Enter your address"
                                    formControlName='address'>
                                <div class="text-left mb-2">
                                    <small class="text-danger ms-1" *ngIf="carsForm.get('address')?.touched &&
                                                carsForm.get('address')?.hasError('required')">This field is
                                        required!</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>National ID</label>
                                <input type="text"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                    maxLength="14" class="form-control" formControlName='nid'
                                    placeholder="Enter National ID">
                                <div class="text-left mb-2">
                                    <small class="text-danger ms-1" *ngIf="carsForm.get('nid')?.touched &&
                                                carsForm.get('nid')?.hasError('required')">This field is
                                        required!</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round"
                                [disabled]="carsForm.invalid">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Our Cars Search" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <form [formGroup]='filterForm' (ngSubmit)='filter(filterForm)' id="filterForm">
        <div class="row">
            <div class="col-md-6 pr-md-1">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter your name" formControlName='name'>
                </div>
            </div>
            <div class="col-md-6 pr-md-1">
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="text"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        maxLength="11" class="form-control" formControlName='mobile' placeholder="Enter Mobile Number">
                </div>
            </div>
            <div class="col-md-6 pr-md-1">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Enter your address" formControlName='address'>
                </div>
            </div>
            <div class="col-md-6 pr-md-1">
                <div class="form-group">
                    <label>National ID</label>
                    <input type="text"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        maxLength="14" class="form-control" formControlName='nid' placeholder="Enter National ID">
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" form="filterForm">Apply</button>
        <button class="btn btn-danger m-1" (click)="resetFilter();filterModal=false">Reset Filter</button>
    </ng-template>
</p-dialog>

<p-dialog header="Upload National Id (Front)" [(visible)]="uploadModal1" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="form-group">
        <p-fileUpload #uploadFrontImage mode="basic" accept="image/*" maxFileSize="1000000"
            chooseLabel="Upload National Id (Front)"></p-fileUpload>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" (click)="uploadNationalID(uploadFrontImage,'front')">Upload</button>
    </ng-template>
</p-dialog>

<p-dialog header="Upload National Id (Back)" [(visible)]="uploadModal2" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="form-group">
        <p-fileUpload #uploadBackImage mode="basic" accept="image/*" maxFileSize="1000000"
            chooseLabel="Upload National Id (Back)"></p-fileUpload>
    </div>
    <ng-template pTemplate="footer">
        <button class="btn btn-primary m-1" (click)="uploadNationalID(uploadBackImage,'back')">Upload</button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>